@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Kdam+Thmor+Pro&family=Russo+One&display=swap');
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
.todo-title{
  font-family: 'Kdam Thmor Pro', sans-serif;
  border: solid 2px;
  text-align: center;
  color: #63127e;
  background-color: #2f80ed;
  padding: 5px 10px;
  border-radius: 9px;
}
.todo-title:hover{
  background-color: #3498db;
  transform: scale(1.03);
  cursor: pointer;
}
.TodoWrapper {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background: linear-gradient(to right, #56ccf2, #2f80ed);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: solid 2px #3498db;
  margin-top: 20px;

}

.TodoWrapper.dark-mode {
  background: #2c3e50;
  color: #000105;
}
.TodoWrapper.light-mode {
  background: linear-gradient(to right, #74ebd5, #ACB6E5);
  color: #000; 
}


.dark-mode-btn {
  background-color: #3498db;
  color: #efecec;
  border: solid 2px #2980b9;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
.dark-mode-btn:hover{
  background-color: green;
  
}

.TodoForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.todo-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #3498db;
  border-radius: 4px;
  color: #333;
}

.todo-input::placeholder {
  color: #aaa;
}

.todo-btn {
  background-color: #3498db;
  color: #fff;
  border: solid 2px #2980b9;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.todo-btn:hover {
  background-color: #2980b9;
  transform: scale(1.1);
  border: solid #3498db 2px;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
}

.Todo {
  display: flex;
  flex-direction: column;
  background: #ecf0f1;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  position: relative;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: rgb(185, 141, 111);
}

.Todo.completed {
  text-decoration: line-through;
  color: #e06e1d;
  
}

.Todo p {
  margin: 0;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: rgb(218, 150, 24);


}

.Todo p .due-date {
  font-size: 14px;
  color: #e74c3c;
  margin-left: 10px;
  

}

.Todo div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

.faPenToSquare,
.faTrash {
  font-size: 20px;
  cursor: pointer;
  color: #3498db;
  border: 1px solid transparent;
  padding: 8px;
  border-radius: 4px;
}

.faTrash:hover {
  color: #e74c3c;
  border-color: #e74c3c;
}

.faPenToSquare:hover {
  color: #2980b9;
  border-color: #2980b9;
}

.EditTodoForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 20px;
}

.edit-todo-input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #3498db;
  border-radius: 5px;
  color: #333;
}

.edit-todo-btn,
.delete-todo-btn {
  background-color: #f39c12;
  color: #fff;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.edit-todo-btn:hover,
.delete-todo-btn:hover {
  background-color: #d35400;
  border-color: #d35400;
  transform: scale(1.1);
}

.delete-todo-btn {
  background-color: #e74c3c;
  color: #fff;
  cursor: pointer;
}

.delete-todo-btn:hover {
  background-color: #c0392b;
}
.priority-select {
  padding: 5px;
  margin-bottom: 7px;
  font-size: 15px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;

}
.todo-input[type="date"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.low-priority {
  background-color: #0a4318; 
}

.medium-priority {
  background-color: #e1b217; 
}

.high-priority {
  background-color: #690713; 
}

.todo-heading {
  font-family: 'MuseoModerno', sans-serif;
  font-size: 24px; 
  font-weight: 700; 
  color: #f3e2e2; 
}


.homepage {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #DD2167;
  background: linear-gradient(0deg, #DD2167, #535DAC);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
  color: #fff; 
}

.section {
  margin-bottom: 40px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  color: #333; 
}

.contact-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form textarea {
  resize: vertical; 
}

.contact-form button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #2980b9;
}
.navbar {
 
  background: #2B0AD8;
  background: linear-gradient(0deg, #2B0AD8, #5C292E);
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  font-family: 'Gloria Hallelujah', cursive;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
  border: solid;
  padding: 7px 7px;
  margin-right: 20px;
  font-family: 'Gloria Hallelujah', cursive;

}

.nav-links li a:hover {
  color: #e7181f; 
  background-color: rgb(209, 227, 209);
  transform: scale(1.1);
}
#contactus {
  font-family: 'Kdam Thmor Pro', sans-serif;
  word-spacing: 5px;
}
.naeemtodo{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 20px;
  text-decoration: underline;

}
.todoabout{
  font-family: 'Gloria Hallelujah', cursive;

}
.last-about{
  font-family: 'Gloria Hallelujah', cursive;

}
.lastp{
  font-family: 'Kdam Thmor Pro', sans-serif;

}